// ELEMENTS [ 0.1. CUSTOM VARIABLES ] #################################################################################

// A. MEDIA QUERY BREAKPOINTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. BREAKPOINTS ---------------------------------------

// from 576px up
$xs-up: 'min-width:576px'; 

// from 768px 
$sm-up: 'min-width:768px';

// from 992px 
$md-up: 'min-width:992px';

// from 1024px
$mdl-up: 'min-width:1024px';

// from 1200px
$lg-up: 'min-width:1200px';

// from 1400px
$xlg-up: 'min-width:1400px'; 

// A.1. END -----------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. COLORS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B.1. BLACK ---------------------------------------------
$black:           #000000;

// B.2. WHITE ---------------------------------------------
$white:           #FFFFFF;
$white-06:          rgba(255, 255, 255, 0.6);

// B.3. GREY ----------------------------------------------
$grey-0D:         #0D0D0D;
$grey-15:         #151D2D;
$grey-67:         #676B74;
$grey-c4:         #C4C4C4;
$grey-f1:         #F1F4F9;
$grey-f3:         #F3F3F3;
$grey-de:         #dee4ec;
$grey-c4c:        #C4CEE3;
$grey-c4d:        #CED4DA;
$grey-92:         #929CB0;
$grey-6e:         #6E7881;
$grey-dd:         #DDDDDD;
$grey:              $grey-f1;

// B.4. YELLOW --------------------------------------------
$yellow-ff:       #FFD800;

// B.4. BLUE ----------------------------------------------
$blue-36:         #364A73;
$blue-38:         #3868FF;
$blue-28:         #282447;

// B.5. GREEN ---------------------------------------------
$green-01:        #01A88F;

// B.6. PURPLE --------------------------------------------
$purple-98:       #9838FE;

// B.99 OTHER ---------------------------------------------
$facebook:        #3b5998;
$twitter:         #03a9f4;
$linkedin:        #0077b5;

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. KEYFRAMES/MIXINS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
